@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #0b6fc0;
  --secondary-color: #000;
  --white-color: #fff;
  --heading-color: #0c74c2;
  --trust-color: #40a737;
  --btn-gradient: linear-gradient(93.22deg, #0b6fc0 1.06%, #1fd2e5 97.02%);
}

/* ----- Navbar start ----- */
.nav a,
button,
li {
  font-family: "poppins", sans-serif !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.login-btn button {
  padding: 3px 33px;
  border-radius: 50px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  outline: none !important;
  transition: 0.2s ease;
}

.login-btn button:hover {
  background: -webkit-linear-gradient(right, #0b6fc0, #0ae0fc);
  color: white;
  border: 1px solid transparent;
}

.dropdown-menu {
  border: none !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* ----- Navbar end ----- */
/* ----- Login start ----- */
.auth-section {
  width: 100%;
  padding: 5% 0;
  background: url("../assets/images/login\ bg.svg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-heading h3 {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 800;
}

.auth-container {
  width: 460px;
  max-height: 520px;
  background: white;
  border-radius: 30px;
  padding: 40px 50px;
  padding-bottom: 30px;
}

.auth-border {
  background: #0b6fc01e;
  padding: 25px;
  border-radius: 30px;
}

.foms-container {
  width: 100%;
  margin-top: 20px;
}

.auth-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 30px;
  background: #f2f2f2;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}

.auth-buttons button {
  background: none;
  border: none;
  outline: none;
  width: 170px;
  color: #0c74c2;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  z-index: 1;
}

.auth-buttons .active-btn {
  color: white !important;
}
.slide-left {
  left: 190px !important;
}
.auth-buttons a {
  z-index: 1;
}

.btn-slider {
  width: 170px;
  background: #0b6fc0;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.2s ease-in;
  border-radius: 10px;
  z-index: 0;
}

.auth-container input {
  width: 100%;
  padding: 0 10px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #0b6fc0;
  outline: none;
}

.forget-pass {
  text-align: right;
}

.password img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  right: 10px;
}

.submit-button button {
  width: 240px;
  height: 40px;
  margin: auto !important;
  margin-top: 30px !important;
  background: white;
}

.forgot-password {
  color: #0C74C2;
}

.signup-button a {
  width: 240px;
  padding: 6px 0;
  margin: auto !important;
  margin-top: 15px !important;
}

.show-form {
  display: block !important;
}

.show-heading {
  display: block !important;
}
